{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body { background-image: url(../Imagenes/fondobody.jpg);
       /* Acomodar y centar la imagen de fondo */
}

.header { display: flex;
          justify-content:space-between;    
}

.imagen img {border-radius: 70%;
}

.menu ul {display: flex;
          justify-content: space-between;
}

.menu li {margin: 10px auto;
          padding: 5px; 
          border-radius: 40%;
          border: solid;
          list-style:none;
          background-color:azure;        
}

.menu a {text-decoration: none;
         color: black;   
}
.venta ul {display: flex;
           justify-content: space-between; 
}

.venta li { display:inline-flex;
            margin: 10px auto;
            padding:5px;   
            border-radius: 40%;
            border: solid;
            align-items: center;
            background-color: azure;   
}

.venta a {text-decoration: none;
          color: black; 
}

aside .carousel-item img {width:100vh ; height:70vh;

}

#newsletter { 
              background-size: cover;  
              display: flex;
              justify-content: space-around;
              color:whitesmoke;
              align-content: center;
}

.soluciones { 
              justify-items: stretch;
              padding-top:10px ;
              justify-content: space-between;
              display: flex;
              flex-flow: row wrap;                    
}

.soluciones img { width: 150px;
                  height: 150px;
                  border-radius:40%;
                  
}

section h3 {
             text-align: center;
             padding-top:10px ;
}

footer {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         grid-template-rows: 1fr 1fr 1fr;
         height: 25vh;   
}

footer .nosotros {
            grid-row:1/3;
            text-align: center;
            color: azure;
            padding-top:10px ; 
}

footer .ubicacion {
            grid-row: 1/3;
            color: azure;
            text-align: center;
            padding-top:10px ;

}

footer .redSocial {text-align: center;
                   grid-row: 4/1;
                   color: azure;
                   padding-top:10px ;
}

footer .copy {display: flex;
              color: azure;
              align-items: end;   
}
