body {
  background-image: url(../imagenes/fondobody.jpg);
  background-size: contain;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu ul li {
  margin: 2px;
  padding: 2px;
  border: solid;
  list-style: none;
  border-radius: 10%;
  background-color: white;
}
.menu ul li a {
  text-decoration: none;
  color: black;
}

.venta ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.venta ul li {
  border: solid;
  list-style: none;
  border-radius: 10%;
  background-color: white;
}
.venta ul li a {
  text-decoration: none;
  color: black;
}

#carouselExampleIndicators {
  margin: 10px;
  padding: 50px;
}

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px;
  padding: 5px;
  /* hacer un gradient */
}
.newsletter h4 {
  background-color: white;
  border: solid;
  border-style: double;
  margin: 5px 5px 5px 5px;
  padding: 5px;
}
.newsletter h4 form {
  margin: 5px;
  padding: 5px;
}

.solucionesDestacadas {
  margin: auto;
  padding: 5px;
  width: 100%;
}
.solucionesDestacadas h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 0;
  padding: 5px;
}
.solucionesDestacadas .soluciones {
  grid-column: 1/4;
  grid-row: 2/3;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  flex-wrap: wrap;
  width: 100%;
}
.solucionesDestacadas .soluciones img {
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  border-radius: 10%;
}

.videos {
  display: flex;
  flex-direction: column;
  margin: 2px;
  padding: 2px;
}
.videos .webinars {
  margin: 15px;
  padding: 2px;
  display: flex;
  justify-content: space-around;
}
.videos .webinars a:hover {
  transform: scale(0.9);
}
.videos .webinars a:hover a {
  overflow: hidden;
}
.videos .webinars dl {
  background-color: rgb(22, 30, 181);
  color: white;
  border-radius: 5%;
  width: 40%;
  font-weight: 200;
  margin: 10px 10px 10px 10px;
  padding: 5px;
}

.nosotros {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 300px;
}
.nosotros .nosotrosTexto {
  grid-column: 1/4;
  grid-row: 1/2;
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  opacity: 0.75;
  border-radius: 10%;
}
.nosotros .nosotrosTexto h2 {
  color: black;
}
.nosotros .nosotrosTex {
  grid-column: 2/5;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 5px;
  padding: 5px;
  background-color: white;
  opacity: 0.75;
  border-radius: 5%;
  font-family: "Roboto Condensed", sans-serif;
}
.nosotros .imagenesNosotros {
  grid-column: 4/5;
  grid-row: 1/2;
  margin: 1px;
  padding: 3px;
  display: flex;
}
.nosotros .imagenesNosotros img {
  border-radius: 20%;
}
.nosotros .nosotrosImagenes {
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 1px;
  padding: 5px;
  display: flex;
  align-items: flex-start;
}
.nosotros .nosotrosImagenes img {
  border-radius: 20%;
}

.camarasIP {
  display: grid;
  align-items: center;
  gap: 4rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  margin: 10px;
  padding: 5px;
}
.camarasIP .card {
  margin: 20px;
  padding: 5px;
}
.camarasIP .card img {
  width: 276px;
  height: 140px;
}

.soporteTitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 2px;
  flex-direction: column;
  width: 100%;
  height: 100px;
}

.soporte {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: solid;
  width: 100%;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.soporte .nombre {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 5px;
  padding: 5px;
  width: 100%;
  height: 100px;
}
.soporte .email {
  grid-column: 1/2;
  grid-row: 2/3;
  display: block;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.soporte .marca {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 5px;
}
.soporte .ayuda {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}
.soporte .tipoFalla {
  grid-column: 1/3;
  grid-row: 3/4;
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header .imagen img {
  border-radius: 70%;
  width: 150px;
  margin: 3px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  color: white;
  margin: 10px;
  padding: 5px;
}
footer .nosotrosFooter {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  padding: 5px;
}
footer .ubicacion {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  padding: 5px;
  flex-direction: column;
}
footer .ubicacion a {
  margin: 20px;
  padding: 5px;
}
footer .ubicacion h5 {
  margin: 10px;
  padding: 5px;
}
footer .redSocial {
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}
footer .redSocial svg {
  color: black;
  margin: 5px;
  padding: 5px;
}
footer .copy {
  grid-column: 1/3;
  grid-row: 3/4;
  display: flex;
  align-items: flex-start;
  margin: 20px;
  padding: 7px;
}

@media (max-width: 460px) {
  .solucionesDestacadas .soluciones img {
    width: 130px;
  }
}
@media (max-width: 460px) {
  footer {
    font-size: 13px;
  }
  footer .redSocial {
    grid-column: 1/4;
    grid-row: 2/3;
    flex-direction: row;
    width: 100%;
  }
  footer .redSocial svg {
    width: 40px;
  }
}
@media (max-width: 610px) {
  .newsletter {
    flex-direction: column;
    font-size: 10px;
  }
  .newsletter h4 {
    font-size: 1rem;
  }
}
@media (max-width: 540px) {
  .nosotros .imagenesNosotros {
    display: none;
  }
  .nosotros .nosotrosTex {
    overflow-y: scroll;
  }
}
@media (max-width: 650px) {
  .videos .webinars {
    font-size: 12px;
  }
  .videos .webinars img {
    width: 180px;
  }
}/*# sourceMappingURL=main.css.map */